.navbar {
    -webkit-box-shadow: 0 0 150px 0 #999;
    -moz-box-shadow: 0 0 150px 0 #999;
    box-shadow: 0 0 150px 0 #999;
}

body {
    background: aliceblue;
}

.text-and-icon {
    margin-right: 8px;
}

.sections {
    margin-top: 6%;
}

.login-box {
    margin-top: 200px;
    height: 250px;
    box-shadow: None;
    transition: box-shadow 400ms;
}

/*
.login-box:hover {
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.37); 
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.37);
}*/

.container .google-box {
    display: inline-block;
    text-align: center;
}