{% extends "layout.html" %}
{% block title %}Delete Item{% endblock %}

{% block content %}
<div class="container">
        <div class="col-md-12">
            <div class="row" style="margin-top: 35px;">
                <h1>Delete Item</h1>
            </div>
            <div class="row" style="margin-top: 10px;">
                    <h5>Are you sure you want to delete this item?</h5>
                </div>
            <div class="row" style="margin-top: 10px;">
                <form>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt text-and-icon"></i>Delete</button>
                    <button type="button" class="btn btn-success"><i class="fas fa-times text-and-icon"></i>Cancel</button>
                </form>
            </div>
        </div>
</div>
{% endblock %}