<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | Item Catalog App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous">
    </script>
    <script>
        $('.alert').alert()
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            {% if 'username' in session %}
                {% if message == 'We are unable to process your request right now. Please try again later.' %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                {% elif message == 'The entered category already exists.' %}
                    <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                {% elif message == 'We are unable to process your request right now.' %}
                    <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                {% elif message == 'Please log in to continue.' %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                {% elif message == 'You were not authorised to access that page.' %}
                    <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
                {% elif message == 'The item already exists in the database!' %}
                    <div class="alert alert-warning alert-dismissible fade show mb-0 text-center" role="alert">
                {% else %}
                    <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
                {% endif %}
            {% elif (message == 'You have been successfully logged out!') %}
                <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert">
            {% else %}
                <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert">
            {% endif %}
            
            {{ message }}
        
        {% endfor %}  
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    {% endif %}
    {% endwith %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fas fa-box-open text-and-icon"></i>Item Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('home') }}">Catalog <span class="sr-only">(catalog)</span></a>
                </li>
                
                {% if 'username' in session %}
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ session['picture'] }}"
                        class="rounded-circle" alt="Profile Picture" style="height: 30px; width: 30px;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <p class="dropdown-item">Logged in as <strong>{{ session['username'] }}</strong></p>
                        <hr>
                        <a class="dropdown-item" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt text-and-icon"></i>Log out</a>
                    </div>
                  </li>
                  </ul>
                 {% else %}
                <a href="{{ url_for('login') }}"><button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login or Sign up</button></a>
                {% endif %}
          </div>        
      </nav>

{% block content %}
{% endblock %}

</body>
</html>