<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Category</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer> </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><i class="fas fa-box-open text-and-icon"></i>Item Catalog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Catalog <span class="sr-only">(catalog)</span></a>
                </li>
                <li class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://lh6.googleusercontent.com/-G3j31Xj0_xQ/AAAAAAAAAAI/AAAAAAAAfO0/Fy66zVU7lWA/photo.jpg"
                        class="rounded-circle" alt="Profile Picture" style="height: 30px; width: 30px;">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt text-and-icon"></i>Log out</a>
                    </div>
                  </li>
            </ul>
            
            <!--<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login or Sign up</button>-->
            
            <!--<img src="https://lh6.googleusercontent.com/-G3j31Xj0_xQ/AAAAAAAAAAI/AAAAAAAAfO0/Fy66zVU7lWA/photo.jpg"
              class="rounded-circle" alt="Profile Picture" style="width: 4%; height: 4%;">
              <button class="btn btn-danger my-2 my-sm-0" type="submit">Log out</button>
            -->
              
        </div>
    </nav>

    <div class="container">
        <div class="row" style="margin-top: 35px;">
            <div class="col-md-7">
               <h1>Create New Category</h1>

               <form>
                    <div class="form-group">
                      <input type="text" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fas fa-save text-and-icon"></i></i>Submit</button>
                    <button type="button" class="btn btn-danger"><i class="fas fa-times text-and-icon"></i>Cancel</button>
                  </form>

            </div>
        </div>
    </div>
                
</body>
</html>