{% extends "layout.html" %}
{% block title %}Add Item{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 35px;">
            <div class="col-md-7">
               <h1>Create new item</h1>

               <form>
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Title</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Category</label>
                      <select class="form-control" id="exampleFormControlSelect1">
                        <option data-tokens="mustard">Laptops</option>
                        <option data-tokens="olive">MacBook</option>
                      </select>
                    </div>                          
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1">Description</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                  </form>

            </div>
        </div>
    </div>
{% endblock %}