{% extends "layout.html" %}
{% block title %}Add Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 35px;">
            <div class="col-md-7">
               <h1>Create New Category</h1>

               <form>
                    <div class="form-group">
                      <input type="text" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary"><i class="fas fa-save text-and-icon"></i></i>Submit</button>
                    <button type="button" class="btn btn-danger"><i class="fas fa-times text-and-icon"></i>Cancel</button>
                  </form>

            </div>
        </div>
    </div>
{% endblock %}