{% extends "layout.html" %}
{% block title %}All Items{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-12">
            <div class="row" style="margin-top: 35px;">
                <h1>Snowboarding</h1>
            </div>
            <div class="row">
                    <p>Snowboarding is a fun game.
                            It is awesome bro!Why do we put a # in the href attribute of the link?

                            Since we do not have any page to link it to, and we do not want to get a "404" message, we put # as the link. In real life it should of course been a real URL to the "Search" page.
                        </p>
            </div>
            <div class="row" style="margin-top: 10px;">
                <form>
                    <button type="button" class="btn btn-primary"><i class="far fa-edit text-and-icon"></i>Edit</button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt text-and-icon"></i>Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}